.card-composer {
    background: #fff;
    border-radius: 4px;
    height: 40px;
    display: flex;
    margin: 5px 0;
    padding: 10px;
}

.card-composer textarea {
    height: 100%;
    width: 100%;
    border-style: none;
    border-color: Transparent;
    overflow: auto;
    resize: none;
    font-size: 14px;
}

.card-composer textarea:focus,
.card-composer textarea:active {
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}

.card-composer textarea::placeholder {
    font-size: 14px;
}
