.card-list {
    background: #b4cadf;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 272px;
    border-radius: 4px;
    padding: 10px 8px;
}

.card-list__title {
    text-transform: uppercase;
    margin-bottom: 10px;
}

.card-list__add-btn {
    margin-top: 15px;
}

.card-list__container {
    width: 100%;
}
