.ticket {
    background: var(--color-white);
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    color: hsl(212, 18%, 35%);
    display: grid;
    font-size: 1.2rem;
    /* gap: 3rem 2rem; */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    height: fit-content;
    padding: 1.5rem 1rem;
}

.ticket:not(:last-of-type) {
    margin-bottom: 1rem;
}

.ticket__options {
    grid-column: 3 / -1;
    justify-self: right;
}

.ticket__title {
    grid-column: 1 / 3;
    grid-row: 2;
    font-weight: 700;
    line-height: 1.2;
    color: var(--color-neutral-1);
    font-size: 16px;
    margin-top: 1rem;
}

.ticket__created-date {
    grid-row: 3;
    grid-column: 1;
    align-self: end;
    color: var(--color-neutral-4);
}

.ticket__due-date {
    grid-row: 3;
    grid-column: 1;
    display: flex;
    align-items: baseline;
    color: var(--color-neutral-4);
    font-weight: 600;
    margin-top: 2rem;
}

.ticket__due-date span {
    margin-right: 5px;
}

.ticket__user-img {
    grid-row: 3;
    grid-column: 3;
    justify-self: right;
    align-self: end;
}

.ticket__user-img img {
    border-radius: 50px;
    box-shadow: 1px 1px 5px #ccc;
    height: 30px;
    width: 30px;
}

.ticket textarea {
    border-color: Transparent;
    border-style: none;
    font-size: 1.4rem;
    height: 100%;
    overflow: auto;
    resize: none;
    width: 100%;
}

.ticket textarea:focus,
.ticket textarea:active {
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}

.ticket textarea::placeholder {
    font-size: 14px;
}
