.ticket {
    background: #fff;
    border-radius: 4px;
    display: grid;
    gap: 30px 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    height: fit-content;
    margin-bottom: 10px;
    padding: 15px 10px;
}

.ticket__tag {
    grid-column: 1 / 3;
}

.ticket__options {
    grid-column: 3 / -1;
}

.ticket__title {
    grid-column: 1 / 3;
    grid-row: 2;
}

.ticket__created-date {
    grid-row: 3;
    grid-column: 1;
}

.ticket__due-date {
    grid-row: 3;
    grid-column: 2;
}

.ticket__user-img {
    grid-row: 3;
    grid-column: 3;
}

.ticket textarea {
    height: 100%;
    width: 100%;
    border-style: none;
    border-color: Transparent;
    overflow: auto;
    resize: none;
    font-size: 14px;
}

.ticket textarea:focus,
.ticket textarea:active {
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}

.ticket textarea::placeholder {
    font-size: 14px;
}
