.card-list {
    border-radius: 4px;
    /* padding: 10px 8px; */
    height: fit-content;
}

.card-list__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #363435;
}

.card-list__title {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 12px;
}

.card-list__add-btn {
    width: 100%;
    padding: 10px 0;
    border-radius: 4px;
    transition: background 0.2s;
}

.card-list__add-btn span {
    margin: 0 5px 0 10px;
}

.card-list__add-btn:hover {
    background: rgba(9, 30, 66, 0.08);
}

.card-list__container {
    background: rgba(230, 238, 244, 1);
    border-radius: 4px;
    min-height: 50px;
    padding: 10px;
}
