.card-list {
    border-radius: 4px;
    height: fit-content;
}

.card-list__header {
    color: var(--color-neutral-1);
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.card-list__title {
    font-size: 1.4rem;
    font-weight: 800;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.card-list__container {
    background: var(--color-neutral-6);
    border-radius: 4px;
    min-height: 50px;
    padding: 10px;
}
