.card-list {
    border-radius: var(--b-radius-sm);
    height: fit-content;
}

.card-list__header {
    color: var(--color-neutral-1);
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.card-list__title {
    font-size: 1.4rem;
    font-weight: 800;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.card-list__container {
    background: var(--color-white);
    border-radius: var(--b-radius-sm);
    min-height: 5rem;
    padding: 1rem;
}

.card-list__add-button {
    align-items: center;
    border-radius: var(--b-radius-sm);
    color: var(--color-neutral-6);
    display: flex;
    height: 4rem;
    justify-content: center;
    font-size: 1.4rem;
    font-weight: 600;
    transition: background 0.25s, color 0.25s;
}

.card-list__add-button:hover {
    background: var(--color-neutral-10);
    color: var(--color-neutral-2);
}
