.loginPage {
    background: var(--color-white);
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100vh;
}

.loginPage__left {
    margin: 8rem;
}

.loginPage__logo {
    height: 8rem;
}

.loginPage__form {
    margin-top: 10rem;
}

.loginPage__form-input {
    border: 1px solid var(--color-neutral-9);
    color: var(--color-neutral-9);
    font-size: 2rem;
    border-radius: 0px;
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: 50px 2fr;
}

.loginPage__form-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-right: 1px solid currentColor;
}

.loginPage__form-input input {
    border: none;
    margin-left: 1rem;
    font-size: 1.4rem;
}

.loginPage__form-input input:focus {
    outline: none;
}

.loginPage__submit {
    display: flex;
    justify-content: flex-end;
}

.loginPage__button {
    background: var(--color-primary-5);
    border: none;
    box-shadow: 0 4px 6px hsla(0, 0%, 0%, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: 1rem 2rem;
    font-weight: 700;
    color: var(--color-neutral-10);
}

.loginPage__right {
    align-items: center;
    background: var(--color-green-3);
    display: flex;
    grid-row: 1 / -1;
    grid-column: 2 / -1;
    position: relative;
    padding: 10rem;
    overflow: hidden;
}

.bkgVideo {
    height: 100%;
    left: 0;
    opacity: 0.65;
    overflow: hidden;
    position: absolute;
    top: 0;
}

.bkgVideo__content {
    z-index: 2;
    height: 100%;
    width: 100%;
}

.loginPage__play-btn {
    align-items: center;
    background: var(--color-yellow-5);
    border-radius: 50%;
    color: var(--color-white);
    display: flex;
    height: 5rem;
    justify-content: center;
    margin-top: 25rem;
    width: 5rem;
    font-size: 1.4rem;
}

.loginPage__title {
    font-size: 4rem;
    font-weight: 700;
    color: var(--color-neutral-10);
    margin-top: 2rem;
    /* text-shadow: 0 0 5rem var(--color-white); */
}

.loginPage__subtext {
    background: var(--color-green-8);
    color: var(--color-neutral-1);
    font-size: 1.6rem;
    padding: 0.25rem 0.5rem;
    position: relative;
    top: 7px;
    font-weight: 500;
}

.donutcircle__container {
    display: flex;
    justify-content: flex-end;
}

.donutcircle {
    border: 1rem solid var(--color-yellow-5);
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    margin-left: 35rem;
}
