.loginPage {
    background: var(--color-white);
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100vh;
}

.loginPage__logo {
    height: 8rem;
    margin: 10rem;
}
