.loginPage {
    background: var(--color-white);
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100vh;
}

.loginPage__left {
    margin: 8rem;
}

.loginPage__logo {
    height: 8rem;
}

.loginPage__right {
    align-items: center;
    background: var(--color-green-3);
    display: flex;
    grid-row: 1 / -1;
    grid-column: 2 / -1;
    position: relative;
    padding: 10rem;
    overflow: hidden;
}

.bkgVideo {
    height: 100%;
    left: 0;
    opacity: 0.65;
    overflow: hidden;
    position: absolute;
    top: 0;
}

.bkgVideo__content {
    z-index: 2;
    height: 100%;
    width: 100%;
}

.loginPage__play-btn {
    align-items: center;
    background: var(--color-yellow-5);
    border-radius: 50%;
    color: var(--color-white);
    display: flex;
    height: 5rem;
    justify-content: center;
    margin-top: 30rem;
    width: 5rem;
    font-size: 1.4rem;
}

.loginPage__title {
    font-size: 4rem;
    font-weight: 700;
    color: var(--color-neutral-10);
    margin-top: 2rem;
    /* text-shadow: 0 0 5rem var(--color-white); */
}

.loginPage__subtext {
    background: var(--color-green-8);
    border-radius: var(--b-radius-sm);
    color: var(--color-neutral-1);
    font-size: 1.6rem;
    padding: 0.25rem 1rem 0.25rem 0.5rem;
    position: relative;
    top: 7px;
    font-weight: 500;
}

@media only screen and (max-width: 1000px) {
    .loginPage__right {
        padding: 7rem;
    }

    .loginPage__title {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 800px) {
    .loginPage__left {
        margin: 5rem;
    }

    .loginPage__right {
        padding: 5rem;
    }

    .loginPage__play-btn {
        margin-top: 0;
    }

    .bkgVideo__content {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-bottom: 13rem;
    }

    .loginPage__title {
        font-size: 2.5rem;
        margin-top: 1rem;
    }

    .loginPage__subtext {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 700px) {
    .loginPage {
        grid-template-columns: 100%;
        grid-template-rows: repeat(2, 1fr);
    }

    .loginPage__logo {
        display: block;
        height: 5rem;
        margin: 0 auto;
    }

    .loginPage__left {
        grid-row: 1 / 1;
        grid-column: 1 / -1;
    }

    .loginPage__right {
        grid-row: 2 / -1;
        grid-column: 1 / -1;
    }

    .bkgVideo__content {
        width: auto;
    }

    .bkgVideo {
        object-fit: cover;
        width: 100%;
    }

    .loginPage__play-btn {
        height: 4rem;
        width: 4rem;
    }

    .loginPage__button {
        width: 100%;
    }
}
