.workspace {
    padding: 3rem;
    width: 100%;
}

.workspace__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.lists-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(30rem, 1fr));
    gap: 3rem;
    justify-content: center;
}

.ProjectInfo {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.ProjectInfo__Meta {
    display: flex;
    flex-direction: column;
    margin-left: 2.5rem;
}

.project__title {
    font-size: 2rem;
    font-weight: 600;
}

.project__subtext {
    font-size: 1.2rem;
    color: var(--color-primary-1);
    font-style: italic;
}

.project-type {
    height: 4rem;
    width: 4rem;
    background: var(--color-primary-5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-neutral-10);
    border-radius: var(--b-radius-sm);
    box-shadow: 0 3px 6px var(--color-primary-8);
}
