.workspace {
    padding: 3rem;
    width: 100%;
}

.workspace__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
}

.lists-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(30rem, 1fr));
    gap: 3rem;
    justify-content: center;
}

.project__title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
}
