.workspace-container {
    display: flex;
}

.workspace {
    padding: 30px;
    width: 100%;
}

.workspace__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.lists-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(272px, 1fr));
    gap: 30px;
    justify-content: center;
}
