.workspace {
    display: flex;
    align-items: flex-start;
}

.add-list {
    padding: 5px;
    border-radius: 4px;
    background: hsla(0, 0%, 100%, 0.24);
    min-height: 32px;
    width: 272px;
    margin: 10px;
}
