.workspace-container {
    /* display: flex; */
}

.workspace {
    padding: 30px;
    width: 100%;
}

.lists-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(272px, 1fr));
    gap: 30px;
    justify-content: center;
}
