.modal {
    background: var(--color-white);
    border-radius: var(--b-radius-sm);
    box-shadow: 0 1.5rem 3.5rem hsla(0, 0%, 0%, 0.2);
    left: 50%;
    padding: 2rem;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 1.1s ease-out;
    width: 60rem;
}

.modal-backdrop {
    background: var(--color-neutral-1);
    position: absolute;
    height: 100%;
    left: 0;
    opacity: 0.5;
    top: 0;
    width: 100%;
}

.modal__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.modal__header-title {
    font-size: 1.8rem;
    font-weight: 600;
}

.modal__header span {
    color: var(--color-neutral-8);
}

.modal__header span:hover {
    color: var(--color-neutral-5);
}

.item-meta {
    margin: 1rem 0;
}

.item-meta-title {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.item-priority {
    display: flex;
}

.priority-type {
    height: 5rem;
    width: 10rem;
    border-radius: var(--b-radius-sm);
    background: var(--color-neutral-10);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 700;
}

.priority-type:not(:last-of-type) {
    margin-right: 3rem;
}

.priority-low {
    background: var(--color-green-9);
    color: var(--color-green-1);
}

.priority-medium {
    background: var(--color-yellow-9);
    color: var(--color-yellow-1);
}

.priority-high {
    background: var(--color-red-9);
    color: var(--color-red-1);
}

.modal__footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 5rem;
}

.cancel-button {
    align-items: center;
    border: 1px solid var(--color-neutral-6);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    padding: 1rem 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--color-neutral-5);
    margin-right: 1rem;
    transition: all 0.25s;
}

.cancel-button:hover {
    background: var(--color-neutral-6);
    color: var(--color-neutral-10);
}

.save-button {
    align-items: center;
    background: var(--color-green-6);
    border-radius: 5px;
    border: none;
    display: flex;
    justify-content: center;
    padding: 1rem 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--color-neutral-10);
}
