.modal {
    width: 500px;
    background: var(--color-white);
    border: 1px solid var(--color-neutral-7);
    transition: 1.1s ease-out;
    box-shadow: -2rem 2rem 2rem rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal h2 {
    border-bottom: 1px solid #ccc;
    padding: 1rem;
    margin: 0;
}
.modal .content {
    padding: 1rem;
}
.modal .actions {
    border-top: 1px solid #ccc;
    background: #eee;
    padding: 0.5rem 1rem;
}
.modal .actions button {
    border: 0;
    background: #78f89f;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    line-height: 1;
}

#centered-toggle-button {
    position: absolute;
}
