.sidenav {
    height: 100vh;
    background: #f2f7fa;
    transition: width 0.5s;
    min-width: 250px;
    padding: 15px 10px;
}

.sidenav__title {
    color: hsl(212, 56%, 16%);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.05em;
    font-size: 22px;
}

.sidenav__title span:last-of-type {
    margin-left: 10px;
}
