.sidenav {
    box-shadow: 0 4px 2px rgba(0, 0, 0, 0.3);
    height: 100vh;
    min-width: 250px;
    padding: 15px 10px;
    transition: width 0.5s;
}

.sidenav__title {
    color: var(--color-neutral-1);
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0.05em;
}

.sidenav__title span:last-of-type {
    margin-left: 10px;
}
