.sidenav {
    height: 100vh;
    background: #f2f7fa;
    transition: width 0.5s;
    min-width: 250px;
    padding: 15px 10px;
}

.sidenav__title {
    color: hsl(212, 56%, 16%);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.05em;
    font-size: 22px;
}

.sidenav__title span:last-of-type {
    margin-left: 10px;
}

.projects {
    background: rgba(230, 238, 244, 1);
    border-radius: 4px;
    min-height: 50px;
    padding: 10px;
    margin-top: 15px;
}

.projects__item {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    display: flex;
    height: fit-content;
    margin-bottom: 10px;
    padding: 15px 10px;
    color: hsl(212, 18%, 35%);
    font-size: 16px;
}

.projects__item-title {
    font-weight: 600;
    margin-left: 15px;
}

.project--selected {
    background: #12283a;
    color: #eff8ff;
}
