.card-composer {
    width: 272px;
    background: #b4cadf;
    display: flex;
    align-items: center;
    margin-top: 10px;
    transition: 0.3s;
    height: auto;
}

.card-composer:hover {
    background: #c0d7ec;
}

.card-composer form {
    display: flex;
    flex-wrap: wrap;
}

.card-composer form input {
    flex: 0 0 250px;
    background: #fff;
    border: none;
    border-radius: 4px;
    box-shadow: inset 0 0 0 2px #0079bf;
    display: block;
    margin: 0;
    padding: 10px;
}

.card-composer__controls {
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.card-composer button {
    background: #1b84ee;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    padding: 10px 15px;
}

.card-composer__close {
    margin-left: 10px;
    font-size: 30px;
}
