.user-access-list {
    align-items: center;
    display: flex;
}

.users {
    display: flex;
}

.user-circle {
    align-items: center;
    background: var(--color-primary-9);
    border: 3px solid var(--color-primary-3);
    border-radius: 50%;
    box-sizing: content-box;
    color: var(--color-primary-5);
    display: flex;
    font-size: 1.4rem;
    font-weight: 600;
    height: 3.5rem;
    justify-content: center;
    text-transform: uppercase;
    width: 3.5rem;
}

.user-circle:not(:last-child) {
    margin-right: -1.5rem;
}

.users__button {
    align-items: center;
    border-radius: 1rem;
    cursor: pointer;
    display: flex;
    font-size: 1.4rem;
    font-weight: 700;
    padding: 1rem 1.5rem;
    height: fit-content;
    margin-left: 15px;
    transition: background 0.25s;
}

.users__button:hover {
    background: var(--color-neutral-8);
}

.users__button span {
    margin-right: 5px;
}
