.header {
    align-items: center;
    background: #3183c8;
    color: #fff;
    display: flex;
    height: 50px;
    padding: 0 20px;
}

.header__logo {
    margin-right: 50px;
}

.header__logo img {
    height: 60px;
}

.header__nav {
    text-decoration: none;
    margin-right: 20px;
    font-size: 14px;
    color: #fff;
}
