.header {
    background: var(--color-white);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
    color: var(--color-neutral-6);
    height: 6rem;
    display: grid;
    grid-template-columns: 1fr 3fr 4fr 3fr 7rem;
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 0px;
}

.header__boards {
    align-self: center;
    color: currentColor;
    font-size: 1.6rem;
    font-weight: 600;
    justify-self: left;
    margin-left: 1.5rem;
    text-decoration: none;
}

.header__boards span:first-of-type {
    margin-right: 5px;
}

.header__search {
    align-items: center;
    display: flex;
    font-size: 1.6rem;
    margin-left: 4rem;
}

.header__search input {
    margin: 10px;
    height: 3rem;
    justify-self: center;
    width: 100%;
    border-radius: 10px;
    border: none;
    font-size: 1.6rem;
}

.header__search input:focus {
    outline: none;
}

.header__search input:active {
    color: var(--color-neutral-8);
}

.header__search input::placeholder {
    color: var(--color-neutral-7);
    font-style: italic;
    font-size: 1.4rem;
}

.header__search input:focus::-webkit-input-placeholder {
    color: var(--color-neutral-5);
}

.header__user {
    align-items: center;
    align-self: center;
    font-size: 1.6rem;
    justify-self: end;
    display: flex;
}

.header__user-img {
    height: 35px;
    border-radius: 1rem;
    margin-right: 1rem;
}

.header__user-name {
    margin-right: 25px;
    font-weight: 600;
}

.header__logo {
    display: flex;
    justify-content: center;
}

.header__logo img {
    height: 4rem;
    align-self: center;
}

.header__menu {
    align-self: center;
    color: currentColor;
    justify-self: center;
    font-size: 1.4rem;
}

.header__nav:hover {
    color: var(--color-neutral-8);
}

.header--selected {
    color: var(--color-neutral-7);
}
