.header {
    background: var(--color-white);
    color: var(--color-neutral-1);
    height: 6rem;
    display: grid;
    grid-template-columns: 1fr 3fr 4fr 2fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 0px;
}

.header__boards {
    align-self: center;
    color: var(--color-neutral-3);
    font-size: 1.6rem;
    font-weight: 600;
    justify-self: left;
    margin-left: 1.5rem;
}

.header__boards span:first-of-type {
    margin-right: 5px;
}

.header__search {
    align-items: center;
    display: flex;
    font-size: 1.6rem;
    color: var(--color-neutral-8);
}

.header__search input {
    margin: 10px;
    height: 3rem;
    justify-self: center;
    width: 100%;
    border-radius: 10px;
    border: none;
    font-size: 1.6rem;
}

.header__search input:focus {
    outline: none;
}

.header__search input:active {
    color: var(--color-neutral-8);
}

.header__search input::placeholder {
    color: var(--color-neutral-8);
    font-style: italic;
    font-size: 1.4rem;
}

.header__search input:focus::-webkit-input-placeholder {
    color: var(--color-neutral-5);
}

.header__logo {
    margin-right: 5rem;
}

.header__logo img {
    height: 6rem;
}

.header__nav {
    text-decoration: none;
    margin-right: 2rem;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--color-neutral-1);
    transition: color 0.15s;
}

.header__nav:hover {
    color: var(--color-neutral-8);
}

.header--selected {
    color: var(--color-neutral-7);
}
