.add-button {
    align-items: baseline;
    align-self: baseline;
    background: var(--color-yellow-5);
    border-radius: 10px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    color: var(--color-white);
    display: flex;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 0.7rem 1.2rem;
}

.add-button__arrow {
    align-items: center;
    /* background: var(--color-neutral-6); */
    border-radius: 5px;
    display: flex;
    height: 20px;
    justify-content: center;
    margin-left: 5px;
    width: 20px;
}
