.TextInput {
    border: 1px solid var(--color-neutral-9);
    border-radius: var(--b-radius-sm);
    color: var(--color-neutral-9);
    display: grid;
    font-size: 2rem;
    grid-template-columns: 5rem 2fr;
    margin-bottom: 15px;
    padding-right: 10px;
}

.TextInput:focus-within {
    border: 1px solid var(--color-neutral-5);
}

.TextInput__Icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-right: 1px solid currentColor;
}

.TextInput input {
    border: none;
    margin-left: 1rem;
    font-size: 1.4rem;
}

.TextInput input:focus {
    outline: none;
}
