/* CSS Custom Properties */
:root {
    /* Primary App colors */
    --color-primary-1: hsl(205, 100%, 21%);
    --color-primary-2: hsl(205, 87%, 29%);
    --color-primary-3: hsl(205, 82%, 33%);
    --color-primary-4: hsl(205, 76%, 39%);
    --color-primary-5: hsl(205, 67%, 45%);
    --color-primary-6: hsl(205, 65%, 55%);
    --color-primary-7: hsl(205, 75%, 65%);
    --color-primary-8: hsl(205, 84%, 74%);
    --color-primary-9: hsl(205, 97%, 85%);
    --color-primary-10: hsl(205, 79%, 92%);

    /* Neutral Colors */
    --color-neutral-1: hsl(209, 61%, 16%);
    --color-neutral-2: hsl(211, 39%, 23%);
    --color-neutral-3: hsl(209, 34%, 30%);
    --color-neutral-4: hsl(209, 28%, 39%);
    --color-neutral-5: hsl(210, 22%, 49%);
    --color-neutral-6: hsl(209, 23%, 60%);
    --color-neutral-7: hsl(211, 27%, 70%);
    --color-neutral-8: hsl(210, 31%, 80%);
    --color-neutral-9: hsl(212, 33%, 89%);
    --color-neutral-10: hsl(210, 36%, 96%);

    /* Accent Colors (Destructive, Warning, and Positive) */
    --color-red-1: hsl(360, 92%, 20%);
    --color-red-2: hsl(360, 85%, 25%);
    --color-red-3: hsl(360, 79%, 32%);
    --color-red-4: hsl(360, 72%, 38%);
    --color-red-5: hsl(360, 67%, 44%);
    --color-red-6: hsl(360, 64%, 55%);
    --color-red-7: hsl(360, 71%, 66%);
    --color-red-8: hsl(360, 77%, 78%);
    --color-red-9: hsl(360, 82%, 89%);
    --color-red-10: hsl(360, 100%, 97%);

    --color-yellow-1: hsl(15, 86%, 30%);
    --color-yellow-2: hsl(22, 82%, 39%);
    --color-yellow-3: hsl(29, 80%, 44%);
    --color-yellow-4: hsl(36, 77%, 49%);
    --color-yellow-5: hsl(42, 87%, 55%);
    --color-yellow-6: hsl(44, 92%, 63%);
    --color-yellow-7: hsl(48, 94%, 68%);
    --color-yellow-8: hsl(48, 95%, 76%);
    --color-yellow-9: hsl(48, 100%, 88%);
    --color-yellow-10: hsl(49, 100%, 96%);

    --color-green-1: hsl(184, 91%, 17%);
    --color-green-2: hsl(185, 84%, 25%);
    --color-green-3: hsl(185, 81%, 29%);
    --color-green-4: hsl(184, 77%, 34%);
    --color-green-5: hsl(185, 62%, 45%);
    --color-green-6: hsl(185, 57%, 50%);
    --color-green-7: hsl(184, 65%, 59%);
    --color-green-8: hsl(184, 80%, 74%);
    --color-green-9: hsl(185, 94%, 87%);
    --color-green-10: hsl(186, 100%, 94%);

    --color-white: #fff;
    --color-black: #000;

    --b-radius-sm: 3px;
}
