/* CSS Custom Properties */
:root {
    /* Primary App colors */
    --color-primary-1: hsl(205, 100%, 21%);
    --color-primary-2: hsl(205, 87%, 29%);
    --color-primary-3: hsl(205, 82%, 33%);
    --color-primary-4: hsl(205, 76%, 39%);
    --color-primary-5: hsl(205, 67%, 45%);
    --color-primary-6: hsl(205, 65%, 55%);
    --color-primary-7: hsl(205, 75%, 65%);
    --color-primary-8: hsl(205, 84%, 74%);
    --color-primary-9: hsl(205, 97%, 85%);
    --color-primary-10: hsl(205, 79%, 92%);

    /* Neutral Colors */
    --color-neutral-1: hsl(209, 61%, 16%);
    --color-neutral-2: hsl(211, 39%, 23%);
    --color-neutral-3: hsl(209, 34%, 30%);
    --color-neutral-4: hsl(209, 28%, 39%);
    --color-neutral-5: hsl(210, 22%, 49%);
    --color-neutral-6: hsl(209, 23%, 60%);
    --color-neutral-7: hsl(211, 27%, 70%);
    --color-neutral-8: hsl(210, 31%, 80%);
    --color-neutral-9: hsl(212, 33%, 89%);
    --color-neutral-10: hsl(210, 36%, 96%);

    /* Accent Colors (Destructive, Warning, and Positive) */
    --color-red-1: hsl(360, 92%, 20%);
    --color-red-2: hsl(360, 85%, 25%);
    --color-red-3: hsl(360, 79%, 32%);
    --color-red-4: hsl(360, 72%, 38%);
    --color-red-5: hsl(360, 67%, 44%);
    --color-red-6: hsl(360, 64%, 55%);
    --color-red-7: hsl(360, 71%, 66%);
    --color-red-8: hsl(360, 77%, 78%);
    --color-red-9: hsl(360, 82%, 89%);
    --color-red-10: hsl(360, 100%, 97%);

    --color-yellow-1: hsl(43, 86%, 17%);
    --color-yellow-2: hsl(43, 77%, 27%);
    --color-yellow-3: hsl(43, 72%, 37%);
    --color-yellow-4: hsl(42, 63%, 48%);
    --color-yellow-5: hsl(42, 78%, 60%);
    --color-yellow-6: hsl(43, 89%, 70%);
    --color-yellow-7: hsl(43, 90%, 76%);
    --color-yellow-8: hsl(45, 86%, 81%);
    --color-yellow-9: hsl(45, 90%, 88%);
    --color-yellow-10: hsl(45, 100%, 96%);

    --color-white: #fff;
    --color-black: #000;
}
